@import "reset";
@import "base";
@import "grid";


// My css

// HEADER 
.hero_header {
  background-image: url("../media/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.navigation_bar {
  // display: flex;
  align-items: center;

  .top_nav_bar {
    padding: 18px 0;
    align-items: center;

    .logo {
      align-items: center;

      .logo-img {
        height: 2rem;
        // width: 3rem;
        align-items: center;

      }

      p {
        font-size: 2rem;
        color: #007bff;
      }
    }
  }

  .nav-link li {
    padding: 0 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #0fbcf9;
  }
}

// Mai-Hero 
.main_hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

  .image_right_side {
    height: 460px;
    width: 480px;
    margin-left: 8rem;
    border-radius: 0.2rem;
  }

  .left-sec {
    h6 {
      color: #0fbcf9;
      font-size: 1.8rem;
    }

    h2 {
      color: white;
      padding: 12px 0;
    }

    p {
      color: white;
      padding: 12px 0;
      font-size: 1.2rem;
    }
  }

  .more-info {
    margin-top: 2rem;
    padding: 24px 48px;
    border-radius: 50px;
    font-size: 1rem;

    :hover {
      color: white;

    }
  }
}


//main sectton
.col-sec {
  background-color: #c4dbfb;
}

.col-3-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;

  .left-col-sec {
    h6 {
      color: #0fbcf9;
      font-size: 1.8rem;
      text-transform: capitalize;
    }

    h2 {
      font-size: 2rem;
      // padding: 12px 0;
      color: #178190;
    }

    p {
      padding: 12px 0;
      font-size: 1.2rem;
      line-height: 1.6;
      color: #30585e;
    }
  }

  .syptom-image {
    width: 100%;
    border-radius: 0.6rem;
  }
}

// syptom-detail-secton
.col-3-sec {
  background-color: #83c3cf;
}

.parent_container {
  .list-img {
    width: 100%;
    border-radius: 1rem;
  }

  .right-sec-container {
    margin-left: 2rem;

    h6 {
      font-size: 3rem;
      color: #178190;
    }

    h2 {
      font-size: 2rem;
      color: #178190;
      font-weight: 200;
    }

    ul li {
      font-size: 2rem;
      color: #d8e2e2;
      font-weight: 300;
    }

    i {
      margin-right: 1rem;
    }

    .fas {
      color: #007bff;
      font-size: 1.8rem;
    }
  }
}

// protection-section 
.info-heading {
  h6 {
    color: #178190;
    font-size: 1.2rem;
  }
}

.msk-parent-sec {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    line-height: 1.5;
    color: #30585e;
    font-size: 1.3rem;
  }

  h4 {
    text-transform: capitalize;
    color: #007bff;
  }
}


// essential-prevention 
.preventions {
  background-color: #f9f9f9;
}

.prevention-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .hand-wash {
    border: 1px solid #30585e;
    width: 30%;
    padding: 30px;
    margin: 2%;

    p {
      line-height: 1.5;
      // color: #178190;
      font-size: 1.3rem;
    }

    h3 {
      text-transform: capitalize;
      color: #30585e;
    }
  }
}

// footer 
.footer {
  background-color: #212935;
}

.footer-sec {
  .logo-img {
    height: 4rem;
    width: 4rem;
  }

}

.small {
  text-align: center;
  display: block;
  padding: 1.2rem;
  color: #f9f9f9;

  a {
    text-transform: capitalize;
    color: white;
  }
}